@using FishyFlip.Lexicon.App.Bsky.Embed
<RadzenCard style="@(Indent>0?"margin-left: "+Indent+"em" : null)">
    <!--class="rz-my-12 rz-mx-auto" Style="min-height:10em"-->
    <img src="@Value.Author.Avatar" style="max-width:50px"/>
    <a href="/Profile/@Value.Author.Handle">@@@Value.Author.Handle</a> <a href="/post/@Uri.EscapeDataString(Value.Uri.Href)">(@Value.IndexedAt): <RadzenIcon Icon="link" title="permalink" /></a> <a href="@GetBskyUrl()">(view on bsky)</a>
    <div style="/*min-height:3em*/">@((Value.Record as Post)?.Text)</div>
    @if(Value.Embed != null){
        <div>
        @if (Value.Embed is ViewImages imgs)
        {
            @foreach (var img in imgs.Images ?? [])
            {
                <a href="@img.Fullsize"><img src="@img.Thumb" style="max-width:200px"/></a>
            }
        }
        else {
            <text>(Embed: @Value.Embed.Type)</text>
        }
        </div>
    }
    <div style="display:flex" class="post-controls">
        @*if(!ConfirmDelete){
            <RadzenButton style="margin-right:5px" Icon="delete" Click="()=> ConfirmDelete = true">Delete</RadzenButton>
        }
        else
        {
            <RadzenButton style="margin-right:5px" ButtonStyle="ButtonStyle.Danger" Icon="delete" Click="Delete">Are you sure?</RadzenButton>
        }*@
        <RadzenButton style="margin-right:5px" Icon="reply" Click="()=>ShowReplyForm = !ShowReplyForm" />
        <span>❤️@Value.LikeCount ↩️@Value.ReplyCount ↪️@Value.RepostCount</span>
    </div>
    @if(ShowReplyForm)
    {
        <PostForm IsReplyTo="@Value"/>
    }


</RadzenCard>
@code {
    bool ShowReplyForm = false;
    bool ConfirmDelete { get; set; } = false;

    [Parameter]
    public int Indent { get; set; }

    [Parameter]
    public required PostView Value { get; set; }
    string GetBskyUrl() => $"https://bsky.app/profile/{Value.Author.Handle}/post/{Value.Uri.Rkey}";
    
    /*
    [Parameter]
    public EventCallback<Post> OnDelete { get; set; }
    [Parameter]
    public EventCallback<Post> OnReply { get; set; }
    [Parameter]
    public bool ShowReplyButton { get; set; }
    */
}